domain = ".wd.obscurative.ru"
listen_addr = "0.0.0.0:4000"
upstream_proxy = "http://127.0.0.1:4001"
ssl_cert = "/var/lib/acme/wd.obscurative.ru/fullchain.pem"
ssl_key = "/var/lib/acme/wd.obscurative.ru/key.pem"

[proxy_to_raw]
scientific-alliance = "scientific-alliance"
andivion-sandbox = "andivion-sandbox"
andivion-studio = "andivion-studio"
secretnamesofstairs = "secretnamesofstairs"
ambarra = "ambarra"
